encryption: age
age:
  identity: ~/.config/chezmoi/age.key
  recipients:
    - "age1hgwy9a05nt5ckjq65d9jpqljkdm2wdnspdjhmfpysgtw4tfvqp7qwwuc9q"
    - "age1kmrraxeksdupfyx3sxnwltz0r8qes3ayw7yd0n7jwt6law4ux3xqdhuqe7"
